  .active {
    background-color: #4CAF50;
  }
  li:hover:not(.active) {
    background-color: #333;
  }
  #nav_wrap ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    background-color: #111;
  }
  li a{
    text-decoration:none;
    color:white;
    padding: 0 20px;
    line-height: 50px;
  }
  #nav_wrap ul li{
    position: relative;
    float: left;
    width:120px;
    text-align: center;
  }
  #nav_wrap ul ul{
    display: none;
    position: absolute;
  }
  #nav_wrap ul ul li{
    width:120px;
  }
  #nav_wrap ul ul ul > li{
   bottom:50px; 
   left:120px;
   width:128px;
  }
  #nav_wrap ul ul ul ul li {
    width:157px;
    left:128px;
  }
  #nav_wrap ul li:hover > ul{
    display: block;
  }